      .banner {
        background-image: url("images/imagenes_integrador_front/ba1.jpg");
        background-size: cover;
        position: relative;
      }
      
      .banner::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: rgba(0, 0, 0, 0.6);
      }
      
      .banner-info {
        position: relative;
      }
      
      footer {
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin-bottom: 0px;
      } 
      
      body {
        margin-bottom: 300px;
      }
      footer.py-3.my-3 {
        background: linear-gradient(to right, #1c3643,#1c455b, #1e5373);
        text-align: center;
        font-size: 0.8rem;
        justify-content: space-between !important;
        padding: 0% 15%;
      }
    
      li.nav-item {                           
        align-self: center;
      }